<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>Matcha!</header>
    <nav>
        <a href="/profile">profile</a>
        <a href="/home">Home</a>
        <a href="/search">Search</a>
        <a href="/chat_screen">Chat</a>
        <a href="/view_history">view_history</a>
        <a href="/visit_history">visit_history</a>
        <a href="/like_history">like history</a>
        <a href="/profile_settings">Profile Setting</a>
        <a href="/logout">logout</a>
    </nav>
    <br />
<div>
    <a href="/profile_settings/change_profile_pic">Change profile pic</a>
    <br />
    <a href="/profile_settings/upload_images">Upload images</a>
    <br />
    <a href="/profile_settings/update_username">Update username</a>
    <br />
    <a href="/profile_settings/update_password">Update password</a>
    <br />
    <a href="/profile_settings/update_email">Update email</a>
    <br />
    <a href="/profile_settings/update_prefence">Update prefence</a>
    <br />
    <a href="/profile_settings/update_bio">Update bio</a>
    <br />
    <a href="/profile_settings/update_interests">Update interests</a>
    <br />
    <a href="/profile_settings/update_preferred_distance">Update preferred distance</a>
    <br />
    <a href="/profile_settings/update_age">Update age</a>
    <br />
    <a href="/profile_settings/update_location">Update location</a>
</div>
<br />
<footer>2019</footer>
</body>
</html>