<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>Matcha!</header>
    <nav>
        <a href="/profile">profile</a>
        <a href="/home">Home</a>
        <a href="/search">Search</a>
        <a href="/chat_screen">Chat</a>
        <a href="/view_history">view_history</a>
        <a href="/visit_history">visit_history</a>
        <a href="/like_history">like history</a>
        <a href="/profile_settings">Profile Setting</a>
        <a href="/logout">logout</a>
    </nav>
    <br />
    <form action="/profile_settings/update_location" method="post">
        <input type="submit" name="submit" value="Update location">
        <input type="hidden" id="lat" name="lat">
        <input type="hidden" id="long" name="long">
        <br />
        <br />
    </form>
    <br />
    <footer>2019</footer>
    <%
        if (updated_location == "yes")
        {
    %>
            <script>
                alert("Location has been updated!");
            </script>

    <%
        }
    %>
    <script>
        var skip = document.getElementById("skip");
        //collecting users location on permission.
        navigator.geolocation.getCurrentPosition((succ) => {
            var lat = document.getElementById("lat");
            var long = document.getElementById("long");
            lat.value = succ.coords.latitude;
            long.value = succ.coords.longitude;
        });
    </script>
</body>
</html>